<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Znamenitosti Manager</a>
  <button class="btn btn-sm btn-outline-secondary" type="button">Dodaj znamenitost</button>
    <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Pretraži znamenitosti" aria-label="Search">
  </form>
</nav>
<div class="container">
  <div class="row">
    <div *ngFor="let znamenitost of znamenitosti" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src={{znamenitost?.glavnaSlika}} alt=""
                class="img-fluid rounded"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{znamenitost?.naziv}}</h5>
            <p class="m-0">{{znamenitost?.drzava}}</p>
            <p class="m-0 text-muted">{{znamenitost?.opcina}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-globe float-right"></i>Longituda : <a
              href="#">{{znamenitost?.longituda}}</a></li>
          <li class="list-group-item"><i class="fa fa-globe float-right"></i>Latituda : <a
              href="#">{{znamenitost?.latituda}}</a></li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
              data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip"
              data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>